<h1 class="text-center mt-3">Fudagumo</h1>
<p class="text-center">Fudagumoは、日本語に対応したタグクラウドジェネレータです</p>
<h2 class="text-center">Fudagumoで作られたタグクラウドたち</h2>
<div class="container text-center">
  <div class="row">
    <% if @microposts.any? %>
      <% @microposts.each do |i| %>
        <div class="col-lg-3 p-3">
          <%= image_tag i.content, class: "img-fluid center-block" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: "layouts/modal"%>
