/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// for Bootstrap4
@import "bootstrap";

body {
    background-color: #f0f5f9;
}
.modal-dialog{
    max-width:1200px;
}

.canvas-container{
    max-width:90%;
    max-height:500px;
}

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.form-bg {
    background-color: #FFF;
}

.navbar {
    background-color: #52616b;
    .nav-title {
        font-size: 30px;
    }
    a {
        color: #f0f5f9;
    }
}

h1 {
    margin-bottom:30px;
}

